<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a type="button" class="nav-link active" [routerLink]="'/'">
            Ana Sayfa
          </a>
        </li>
        <li class="nav-item">
          <cart-summary />
        </li>
      </ul>
    </div>
    <ul>
      <button type="button" class="btn btn-warning" [routerLink]="'cars/add'">
        Add Car
      </button>
    </ul>
    @if (authen()) {
      <ul>
        <button
          style="padding-left: 10px"
          type="button"
          class="btn btn-danger"
          (click)="logout()"
        >
          Log out
        </button>
      </ul>
    } @else if (!authen()) {
      <ul>
        <button
          style="padding-left: 10px"
          type="button"
          class="btn btn-primary"
          [routerLink]="'auth/login'"
        >
          Login
        </button>
      </ul>
    }
  </div>
</nav>
