.bi {
  font-size: 20px;
  margin-left: 115px;
  color: red;
  fill: 10px;
  fill: red;
  stroke-width: 10;
  stroke: red;
  opacity: 50%;
}

.bi:hover {
  color: red;
  opacity: 70%;
}

.bi::before {
  color: red;
}

.add {
  border-color: rgb(110, 110, 202);
  background-color: rgb(110, 110, 202);
}

.add:hover {
  border-color: rgb(70, 70, 133);
  background-color: rgb(70, 70, 133);
}

.add:active {
  border-color: rgb(60, 60, 112);
  background-color: rgb(60, 60, 112);
}

.delete {
  color: white;
  border-color: rgb(255, 58, 58);
  background-color: rgb(255, 58, 58);
}

.delete:hover {
  color: white;
  border-color: rgb(179, 39, 39);
  background-color: rgb(179, 39, 39);
}

.delete:active {
  color: white;
  border-color: rgb(173, 50, 50);
  background-color: rgb(173, 50, 50);
}
.card{
    position: relative;
    box-shadow: 4px 2px 4px 2px rgb(88, 88, 88);
  }

.card:hover{
  position: relative;
  box-shadow: 8px 3px 8px 2px rgb(88, 88, 88);
}
.img {
  position: relative;
}

.show {
  padding-left: 50px;
  padding-right: 50px;
  border: 10px;
  background-color: rgb(128, 128, 128 , 0.3);
  position: absolute;
  top: 20%;
  left: 28%;
}
.show:hover{
  background-color: rgb(87, 87, 87 , 0.3);
}
.show:active{
  background-color: rgb(75, 75, 75 , 0.3  );
}

.img-big {
  inset: 0;
  border-radius: inherit;
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.9);
  transform: scale(1.15);
  filter: brightness(0.5);
}
