<div class="mb-3">
  <label for="filterText" class="form-label">Search A Car</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="What Are You Looking"
  />
</div>
<div class="md-3">
  @if (filterText) {
  <div class="alert alert-danger">{{ filterText }} aradınız</div>
  }
  <div class="container">
    <div class="">
      <table class="table table-hover">
        <tbody>
          @for(car of cars | filterPipe: filterText; track car.id ) {
            <div class="mb-5 ">
                
            </div>
           } @empty {
          @if (dataLoaded === false) {
          <tr>
            <td colspan="8" class="text-center">
              <div
                class="spinner-border text-primary btn-xs"
                role="status"
              ></div>
            </td>
          </tr>
          } @else {
          <tr>
            <td colspan="8" class="text-center">Kayıt bulunamadı</td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</div>
