<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Add Car</h5>
        <div class="card-body">
          <form [formGroup]="carAddForm">
            <label for="brandId">Brand Id</label>
            <div class="form-group">
              <input
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Brand Name"
              />
            </div>
            <label for="colourId">Colour Id</label>
            <div class="form-group">
              <input
                type="number"
                id="colourId"
                formControlName="colourId"
                class="form-control"
                placeholder="Colour Name"
              />
            </div>
            <label for="engineId">Engine Id</label>
            <div class="form-group">
              <input
                type="number"
                id="engineId"
                formControlName="engineId"
                class="form-control"
                placeholder="Engine Name"
              />
            </div>
            <label for="engineId">Fuel Id</label>
            <div class="form-group">
              <input
                type="number"
                id="fuelId"
                formControlName="fuelId"
                class="form-control"
                placeholder="Fuel Name"
              />
            </div>
            <label for="fuelConsumption">Fuel Consumption</label>
            <div class="form-group">
              <input
                type="number"
                id="fuelConsumption"
                formControlName="fuelConsumption"
                class="form-control"
                placeholder="Fuel Consumption"
              />
            </div>
            <label for="doorNumber">Door Number</label>
            <div class="form-group">
              <input
                type="number"
                id="doorNumber"
                formControlName="doorNumber"
                class="form-control"
                placeholder="Door Number"
              />
            </div>
            <label for="modelYear">Model Year</label>
            <div class="form-group">
              <input
                type="number"
                id="modelyYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model Year"
              />
            </div>
            <label for="dailyPrice">Daily Price</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Daily Price"
              />
            </div>
            <label for="description">Description</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Description"
              />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
